.box {
    width: 100px;
    height: 100px;
    background: #eee;
    border: 2px solid black;
    cursor: pointer;
}
div#game {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
}